In [1]:
import pandas as pd
data1 = pd.read_csv(r"/content/5to10 _testing1.csv")

In [ ]:
data1

In [3]:
descriptions = data1['q1'] +' ' + data1['q2'] +' ' + data1['q3'] +' ' + data1['q4'] +' ' + data1['q5'] +' ' + data1['q6'] +' '

In [5]:
descriptions[631]

'geo science science geo geo geo '

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
def create_similarity_matrix(new_description, overall_descriptions):

  overall_descriptions.append(new_description)
        
  tfidf = TfidfVectorizer(stop_words="english")
        
  tfidf_matrix = tfidf.fit_transform(overall_descriptions)
        
  tfidf_matrix.shape
        
  cosine_sim = linear_kernel(tfidf_matrix,tfidf_matrix)
  return cosine_sim

In [13]:
def get_recommendations(new_description,overall_descriptions):
  
  cosine_sim = create_similarity_matrix(new_description,overall_descriptions)
  
  sim_scores = list(enumerate(cosine_sim[-1]))
  
  sim_scores = sorted(sim_scores,key =lambda x:x[1],reverse= True )
  
  sim_scores = sim_scores[110:113]
  
  indices = [i[0]for i in sim_scores]
  return data1.iloc[indices]

In [15]:
new_description = pd.Series('sports sports geo geo sports geo')

In [16]:
get_recommendations(new_description,descriptions)

         q1      q2      q3      q4   q5   q6 choice
645  sports  sports     geo     geo  geo  geo    geo
646     geo  sports  sports     geo  geo  geo    geo
647     geo     geo  sports  sports  geo  geo    geo